default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-yaml
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
- hooks:
  - id: flake8
    args: [--max-line-length=88, "--extend-ignore=E203,E741"]
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-string-format
  repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
- hooks:
  - id: black
  repo: https://github.com/psf/black
  rev: 19.10b0
- hooks:
  - id: isort
    args: [--profile=black]
  repo: https://github.com/timothycrosley/isort
  rev: 5.6.4
