default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-yaml
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: trailing-whitespace
- repo: local
  hooks:
  - id: todo
    name: Check TODO
    language: pygrep
    entry: TODO
    types: [text]
    exclude: ^(.pre-commit-config.yaml|.github/workflows/daily.yml)$
    args: [-i]
  - id: shfmt
    name: shfmt
    language: golang
    entry: shfmt
    args: ['-l', '-d', '-i', '2', '-ci', '-w']
    types: [shell]
    additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.4.2]
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    args: [--max-line-length=88, "--extend-ignore=E203,E741"]
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-debugger
    - flake8-string-format
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: [--profile=black]
